body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#form-wrapper {
  border: #ccc solid;
  border-radius: 0.5em;
  padding: 2em;
}

#form-wrapper .list-group-item {
  cursor: pointer;
}

#form-wrapper .todo-completed span.todo-content {
  text-decoration: line-through;
}
